.margin-top10 {
  margin-top: 10px;
}

.small {
  font-size: 0.8em;
}

.gray {
  color: var(--color-text-faint);
}

.clear {
  clear: both;
}

.node-panel {
  padding: 0px !important;
  margin-bottom: 5px;

  i.dicon {
    position: absolute;
    color: #777;
    font-size: 18px;
  }

  .afterI {
    margin-left: 22px;
  }

  .uptime-great {
    font-weight: bold;
    color: #2196f3;
  }

  .uptime-good {
    color: #2196f3;
  }

  .uptime-normal {
    color: #ff6f00;
  }

  .uptime-bad {
    color: #cc0000;
  }
}

.node-panel-large {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.node-circle-container {
  display: flex;
  align-items: center;
}

.node-circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  padding: 0 !important;
  margin-right: 10px;
}

.node-circle.blue {
  background-color: #2196f3;
}

.node-circle.orange {
  background-color: orange;
}

.node-circle.red {
  background-color: red;
}

.node-barchart-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.node-barchart-container .domain {
  display: none;
  visibility: hidden;
}

.node-barchart {
  padding-top: 5px !important;
}

.node-hovered-container {
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transition: all ease-out 100ms;
}

.node-pubkey {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 85%;
  height: 100%;
  font-family: monospace;
  font-size: 8pt;
  box-shadow: 1px 0px 7px 0px white;
}

.node-panel:hover .node-hovered-container {
  visibility: visible;
  transition: all ease-in 100ms;
}

.node-dropdown-button {
  cursor: pointer;
}

.node-dropdown {
  padding: 0px 10px;
}

.node-update-interval-container {
  padding-bottom: 5px;
}

ul.incidents {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}

.mui--text-subhead {
  @media screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 20px;
  }
}
