#root {
  .Layout__inset {
    font-size: var(--font-size-secondary);
  }

  .Layout__content {
    --layout-window-width-max: 888px;
  }

  table.Table {
    --table-min-width: 360px;

    th {
      color: var(--pal-text-tertiary);
    }
  }
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.LedgerClosedTime {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;

    &.LedgerClosedTime {
      &--normal {
        stroke: var(--pal-success);
      }

      &--slow {
        stroke: var(--pal-warning);
      }

      &--verySlow {
        stroke: var(--pal-error);
      }
    }
  }
}
