.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .Eyebrow {
    color: var(--pal-brand-primary);
  }
}
