#root {
  .Layout__inset {
    font-size: var(--font-size-secondary);
  }

  .Layout__content {
    --layout-window-width-max: 792px;
  }

  table.Table {
    --table-min-width: 360px;

    th {
      color: var(--pal-text-tertiary);
    }
  }
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
